<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="users">
	<insert id="insert" parameterType="UsersDto">
		insert into tbl_member
		(userId, userPass, PassQuiz, QuizAnswer, userName, userPhone, 
			email, userAddr1, userAddr2, userAddr3, birthday)		
		values(#{userId}, #{userPass},#{PassQuiz}, #{QuizAnswer}, #{userName}, #{userPhone},
				 #{email}, #{userAddr1}, #{userAddr2}, #{userAddr3}, #{birthday})
	</insert>
	<select id="isExist" parameterType="java.lang.String" resultType="String">
		select userId
		from tbl_member
		where userId=#{userId}
	</select>
	
	<select id="getPassHash" parameterType="String" resultType="String">
		select userPass
		from tbl_member
		where userId=#{userId}
	</select>
	
	<select id="login" parameterType="String" resultType="UsersDto">
		select * from tbl_member where userId=#{userId}
	</select>

</mapper>